.knockout {
  background: url('../images/dt.JPG') 50% 50% no-repeat;
  background-clip: text;
  color: transparent;
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
  -webkit-background-clip: text;
}
