/*FONTS*/
@font-face {
  font-family: 'Bold';
  src: url('../fonts/code_pro_bold-webfont.woff2') format('woff2'),
    url('../fonts/code_pro_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bold_lc';
  src: url('../fonts/code_pro_bold_lc-webfont.woff2') format('woff2'),
    url('../fonts/code_pro_bold_lc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Reg';
  src: url('../fonts/code_pro-webfont.woff2') format('woff2'),
    url('../fonts/code_pro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Reg_lc';
  src: url('../fonts/code_pro_lc-webfont.woff2') format('woff2'),
    url('../fonts/code_pro_lc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Thin';
  src: url('../fonts/code_pro_light-webfont.woff2') format('woff2'),
    url('../fonts/code_pro_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Thin_lc';
  src: url('../fonts/code_pro_light_lc-webfont.woff2') format('woff2'),
    url('../fonts/code_pro_light_lc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*FONTS*/
